body {
    font-family: "Computer Modern Serif", serif;
}

header {
    display: flex;
    align-items: center;
    position: relative;

    padding-left: 10px;
    padding-right: 10px;
}

.name {
    position: relative;
    display: inline-block;
    cursor: help;
}

.name .tooltiptext {
    font-size: 12px;

    visibility: hidden;
    width: 1000px;

    background-color: black;
    color: #fff;

    opacity: 0.8;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
}

.name:hover .tooltiptext {
    visibility: visible;
}


.icon {
    color: black;
}

.icon:hover {
    color: blue;
    opacity: 0.8;
}

main {
    display: flex;
    align-items: center;
    position: relative;
}

.portrait {
    padding: 10px;
}

.portrait .image {
    width: 20vw;
    border-radius: 6px;
}

.drop-button {
    font-family: "Computer Modern Serif", serif;
    border: none;
    background: none;
    cursor: pointer;
}

.drop-button:hover {
    color: blue;
    opacity: 0.8;
}
