body {
    font-family: "Computer Modern Serif", serif;

    background-color: #FAF9F6;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    /* border: 2px solid red; */
    width: 50vw;

    display: flex;
    flex-direction: row;
}

.name {
    flex-direction: column;
    align-items: center;

    position: relative;
    /* display: inline-block; */
    cursor: help;
    font-size: xx-large;
}

.name .tooltiptext {
    font-size: 12px;

    visibility: hidden;
    display: none;

    position: absolute;
    top: 30px;
    left: 50px;

    background-color: black;
    color: #fff;

    opacity: 0.8;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px;
}

.name:hover .tooltiptext {
    visibility: visible;
    display: inline;
}

.name .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

nav {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 7px;
}

.icon {
    color: black;
}

.icon:hover {
    color: blue;
    opacity: 0.8;
}

main {
    /* display: flex; */
    /* align-items: center; */
    /* position: relative; */
}

.portrait {
    padding: 10px;

    display: flex;
    /* flex-direction: row; */

    width: 50vw;
}

.selected-drop {
    margin: 10px;
}

.default-text {
    width: 50;

    background-color: lightgrey;
    border-radius: 6px;

    padding: 10px 22px;
}

.portrait .image {
    width: 20vw;
    border-radius: 6px;
}

.drop-button {
    font-family: "Computer Modern Serif", serif;
    border: none;
    background: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 20px;

    display: inline;
    /* width: 100%; */
    margin-bottom: 10px;
}

.drop-button:hover {
    color: blue;
    opacity: 0.8;
}

.resume-button {
    font-family: "Computer Modern Serif", serif;
    border: none;
    background: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 20px;

    /* display: inline; */
    /* width: 100%; */
    margin-bottom: 10px;
}

.resume-button:hover {
    color: blue;
    opacity: 0.8;
}

.drop-text {
    width: 50;

    background-color: lightgrey;
    border-radius: 6px;

    padding: 10px 22px;

    display: none;
}

footer {
    width: 50vw;
    /* border: 2px solid red; */
}
