body {
    font-family: "Computer Modern Serif", serif;

    background-color: #FAF9F6;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 96vh;

    justify-content: center;
}

header {
    width: 50vw;

    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */

    /* border: 2px solid red; */

    margin-right: 15px;
}

.name {
    /* border: 2px solid red; */

    flex: 1;

    flex-direction: column;
    align-items: bottom;

    position: relative;
    /* display: inline-block; */
    font-size: xx-large;
}

.tooltiptext {
    font-size: 12px;

    visibility: hidden;
    display: none;

    background-color: black;
    color: #fff;

    opacity: 0.8;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px;
}

#name-pronounce {
    position: absolute;
    top: 42px;
    left: 50px;
}

.fullname {
    /* border: 2px solid red; */
    cursor: help;
}

.fullname:hover .tooltiptext {
    visibility: visible;
    display: inline;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.icon {
    color: black;
}

.icon:hover {
    color: blue;
    opacity: 0.8;
}

.portrait {
    padding: 10px;

    display: flex;
    /* flex-direction: row; */

    /* border: 2px solid red; */

    width: 50vw;
}

.selected-drop {
    margin: 10px;
    height: 300px
}

.portrait .image {
    border-radius: 6px;
}

.drop-button {
    font-family: "Computer Modern Serif", serif;
    border: none;
    background: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 20px;

    display: inline;
    /* width: 100%; */
    margin-bottom: 10px;
}

.drop-button:hover {
    color: blue;
    opacity: 0.8;
}

.resume-button {
    font-family: "Computer Modern Serif", serif;
    border: none;
    background: none;
    border-radius: 6px;
    cursor: pointer;

    font-size: 20px;

    /* display: inline; */
    /* width: 100%; */
    margin-bottom: 10px;
}

.resume-button:hover {
    color: blue;
    opacity: 0.8;
}

.drop-text {
    display: none;

    background-color: lightgrey;
    border-radius: 6px;

    padding: 10px 22px;
    height: 105%;

    overflow: auto;
}

.title {
    text-align: justify;
}

.title::after {
    content: '';
    width: 100%;
}

.options {
    margin: 10px;

    flex-direction: row;
}

footer {
    display: flex;
    width: 50vw;

    justify-content: center;
}

.technical-elements {
    font-style: italic;
}
